@import "@fortawesome/fontawesome-free/css/all.css";
@import './spinner';

.commerce-breadcrumb ol {
	--bs-breadcrumb-divider: "\2192";
	gap: 1rem;
}

.commerce-breadcrumb-current {
	color: var(--bs-primary);
}

.commerce-breadcrumb-badge {
	align-items: center;
	display: inline-flex;
	font-size: 0.9rem;
	height: 1.5rem;
	justify-content: center;
	width: 1.5rem;
}

.commerce-breadcrumb-upcoming {
	cursor: default;
}

.commerce-product-image {
	height: 150px;
	object-fit: contain;
}

.commerce-mini-cart-icon {
	height: 1.5rem;
	width: 1.5rem;
}

.commerce-mini-cart-icon > i {
	font-size: 1.5rem;
}

.commerce-mini-cart-badge {
	box-sizing: content-box;
	font-size: 0.75rem;
	height: 1.125rem;
	line-height: 1.125rem;
	min-width: 1.125rem;
	padding: 0;
	top: 0.25rem;
}
